venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# IDEs y editores
.vscode/
.idea/
*.swp

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno / Secretos
.env
.env.*
!.env.example

# Pruebas de Python / cobertura / caché
.pytest_cache/
.coverage
htmlcov/
.cache/
